<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(156, 245, 215);   
        font-family: Arial, Helvetica, sans-serif; 
    }
</style>
<body>
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            <a href="/">Home</h1> | <a href="/about">About</h1> | <a href="/products">Products</h1>
        </div>
        
        <ul class="people_list">
            {{#each people}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</body>
</html>